badges/
__tests__/
**/*.test.*
**/*.spec.*
**/*lock*.json
**/*lock*.yml
**/*lock*.yaml
**/CHANGELOG*
.vscode/
.github/
coverage/
node_modules/
.gitignore
.gitattributes
vitest.config.ts
tsconfig.json
*.tar
*.tgz